code {
	display: inline-block;
	margin: 1px 0;
	background: #eeffee;
	padding: 0 7px;
}
.highlight pre code {
	border: 1px solid #c0ffee;
	margin: 17px 0 0 0;
	padding: 7px 17px;
	background: #002700;
	color: #77ff77;
}
.gist {
	font-size: 0.8em;
	margin: 17px 0;
}