<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{% if page.usesitetitle %}{{ site.title }} - {{ site.subtitle }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
	<meta name="author" content="{{ site.author }}">
	{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
	<meta name="description" content="{{ description | strip_html | condense_spaces | strip_newlines | replace:'	', ' ' | truncatewords: 27 }}">
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1">

	<meta name="application-name" content="{{ site.title }}">
	<meta name="msapplication-task" content="name=Rocco on Twitter;action-uri=https://twitter.com/geeroc;icon-uri=https://twitter.com/favicon.ico">
	<meta name="msapplication-task" content="name=Rocco on LinkedIn;action-uri=http://www.linkedin.com/in/roccogeorgi;icon-uri=http://www.linkedin.com/favicon.ico">
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
	<link rel="canonical" href="{{ canonical }}">

	<link rel="apple-touch-icon" sizes="72x72"   href="/images/touch-icons/apple-touch-icon-ipad-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icons/apple-touch-icon-iphone-retina-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icons/apple-touch-icon-ipad-retina-152x152.png">
	<link rel="apple-touch-icon"                 href="/images/touch-icons/apple-touch-icon-iphone-60x60.png">

	

{% bundle %}
- /_stylesheets/reset.css
- /_stylesheets/fonts.css
- /_stylesheets/setup.css
- /_stylesheets/syntax.css
{% endbundle %}

{% bundle %}
- /_javascript/fastclick.js
{% endbundle %}

	<script>
		window.addEventListener('load', function () {
			FastClick.attach(document.body);
		}, false);
	</script>

</head>
<body>
	<header id="banner" role="banner">
		<h1><a class="caps" href="/"><b>Rocco</b><wbr>Georgi</a> {% if site.subtitle %} <wbr><span>{{ site.subtitle }}</span>{% endif %}</h1>
	</header>

	<nav role="navigation" class="main">
		<ul>
			<!--
			<li><a href="/about/"{%    if page.ident == 'about'    %} class="current"{% endif %}>About</a></li>
			-->
			<li><a href="/projects/"{% if page.ident == 'projects' %} class="current"{% endif %}>Projects</a></li>
			<li><a href="/events/"{%   if page.ident == 'events'   %} class="current"{% endif %}>Events</a></li>
		</ul>
	</nav>

	{{ content }}

	<footer role="contentinfo" class="notimportant">
		<span>
			&#x00A9; {{ site.time | date: "%Y" }} <a href="http://www.pavingways.com">PavingWays Limited</a><br>
		</span>
		<span>
			<a href="https://github.com/rocco/rocco.github.io/blob/source/README.md">About this Page</a> - <a href="https://github.com/rocco/rocco.github.io/tree/source/">Jekyll Source</a>
		</span>
	</footer>

	<style>
		nav.main ul::after {
			background-image: url('{% if page.banner %}{{ page.banner }}{% else %}{{ site.banner }}{% endif %}');
		}
	</style>

</body>
</html>
